@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background-color: white;
}

.container
{
    max-width: 90rem;
    margin: auto;
}

.section
{
    min-height: calc(100vh - 20rem);
}

.lh-topbar
{
    display: none !important;
}

.lh-vars.lh-screenshot-overlay--enabled.lh-dark
{
    background: white !important;
}

.lh-warnings.lh-warnings--toplevel
{
    display: none !important;
}